:root{
    --primario:  #393E46;
    --secundario: #00ADB5;
    --blanco: #EEEEEE;
    --fuentePrincipal: 'Poppins', sans-serif;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after{
    box-sizing: inherit;
}

/*GLOBALES*/
body{
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}

p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}

h1{
    font-size: 4rem;
    font-weight: 600;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.4rem
}

/**HEADER**/
.header{
    display: flex;
    justify-content: center;
}

.header__logo{
    margin: 3rem 0;
}

/**BARRA DE NAVEGACION**/
.navegacion{
    background-color: var(--secundario);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 4rem; 
}

.navegacion__enlace{
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
}

.navegacion__enlace:last-of-type{ /*Selecciona el ultimo elemento*/
    margin-right: 0;
}

.navegacion__enlace--activo, 
.navegacion__enlace:hover{
    color: var(--primario);
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

/**GRID**/
.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

/**MUESTRA**/
.muestra{
    width: 30rem;
    grid-template-rows: 17.5rem 17.5rem 8rem;
    border-radius: 1.8rem;
    background-color: #EEEEEE;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(146, 244, 249, 0.5);
    text-align: center;
    font-family: var(--fuentePrincipal);
}

.muestra__portada{
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    background-size: cover;
}

.muestra__titulo{
    color: var(--primario);
    margin-top: 1rem;
    font-size: 3rem;
}

.muestra__sinopsis{
    color: var(--secundario);
    font-size: 2.25rem;
}

.muestra__piedetarjeta{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    background: rgb(0, 135, 145);
}
.muestra__cuadro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--primario);
    padding: 10px;
}

/**FOOTER**/
.footer{
    background-color: var(--secundario);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__texto{
    text-align: center;
    font-family: var(--fuentePrincipal);
    font-size: 2.2rem;
}